/**
 * <Box /> component style
 */

.container {
  display: flex;
  position: relative;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  background-color: rgb(76, 88, 163);
  color: white;
  font-size: 2rem;
  cursor: pointer;
  width: calc(25.1vw - 1rem);
  height: calc(22vh - .25rem);
  margin: .25rem;
}

.largeContainer {
  height: calc((22vh - .25rem) * 2 + .5rem);
}

.mediumContainer {
  width: calc((25.1vw - 1rem) * 2 + .5rem);
}

.gif {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.content {
  position: absolute;
  z-index: 11;
  text-align: center;
}

.favorite {
  margin-top: -.1rem;
  font-size: .9rem;
  font-family: 'Chalet-LondonNineteenEighty';
  vertical-align: middle;
  opacity: .5;
}

.activeFavorite {
  opacity: 1;
}

.likes {
  position: relative;
  top: -.2rem;
  margin-left: .5rem;
}

.title {
  font-size: 2.5rem;
  vertical-align: middle;
}

.mediumContainer .title {
  font-size: 3rem;
}

.largeContainer .title {
  font-size: 3.5rem;
}

.goTo {
  display: inline-block;
  width: 3rem;
  height: 3rem;
  background-color: white;
  border-radius: 50%;
}

.overlay {
  display: block;
  position: absolute;
  width: 100%; height: 100%;
  top: 0; left: 0;
  background-color: rgba(76, 88, 163, 1);
}

.arrowIcon {
  position: relative;
  margin-right: .5rem;
  top: -.125rem;
}

.mediumContainer .arrowIcon {
  top: -.25rem;
}

.largeContainer .arrowIcon {
  top: -.5rem;
}
