/**
 * <Header /> component style
 */

.title {
  position: absolute;
  z-index: 10;
  color: white;
  font-family: 'BaseTwelve-Bold';
}

.container::before {
  content: '';
  display: block;
  position: absolute;
  background-color: #4C58A3;
}

@media screen and (max-width: 800px) {
  .title {
    font-size: 5rem;
    position: relative;
  }

  .container {
    height: 4.5rem;
    display: inline-block;
    position: relative;
    left: 50%;
    transform: translateX(-50%);
  }

  .container::before {
    height: 5.125rem;
    width: 50%;
    left: -3.5rem;
  }
}

@media screen and (min-width: 801px) and (max-width: 1200px) {
  .title {
    font-size: 5rem;
  }

  .container::before {
    height: 5.125rem;
    top: 1.75rem;
    width: 33%;
    left: -.5rem;
  }

  .container {
    height: 4.5rem;
  }
}

@media screen and (min-width: 1201px) {
  .title {
    font-size: 6rem;
  }

  .container::before {
    width: 40%;
    height: 7rem;
    top: 1.5rem;
    left: -1.5rem;
  }

  .container {
    height: 5.5rem;
  }
}