/**
 * <Header /> component style
 */

.container {
  height: 4.5rem;
}

.title {
  position: absolute;
  z-index: 10;
  color: white;
  font-size: 6rem;
  font-family: 'BaseTwelve-Bold';
}

.container::before {
  content: '';
  display: block;
  position: absolute;;
  width: 40%;
  height: 7rem;
  top: 1.5rem;
  left: -1.5rem;
  background-color: #4C58A3;
}

@media screen and (max-width: 1200px) {
  .title {
    font-size: 5rem;
  }

  .container::before {
    height: 5.125rem;
    top: 1.75rem;
    width: 33%;
    left: -.5rem;
  }

 .container {
   height: 2.5rem;
 }
}
