/**
 * <Graph /> component style
 */

.container {
  position: absolute;
  bottom: 2.5rem;
  pointer-events: none;
}

.chart {
  position: absolute;
  bottom: 0;
  overflow: hidden;
  transition: width .75s linear;
  pointer-events: none;
}
