/**
 * <Part /> component style
 */

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  position: absolute;
  background-color: grey;
  background-size: cover;
  background-position: center;
  cursor: pointer;
  -webkit-font-smoothing: antialiased;
  transition: ease background-size .2s, ease opacity .3s;
  transition: width 0.4s linear, height 0.4s linear, left 0.4s linear, right 0.4s linear;
}

@media screen and (max-width: 650px) {
  .container {
    width: 100vw;
    height: 50vh;
  }

  .container:hover {
    height: 80%;
  }
}

@media screen and (min-width: 651px) {
  .container {
    width: 50vw;
    height: 100vh;
  }

  .container:nth-child(1) {
    left: 0;
    z-index: 0;
  }

  .container:nth-child(1):hover {
    width: 70vw;
    z-index: 1;
  }

  .container:nth-child(2) {
    right: 0;
    z-index: 0;
  }

  .container:nth-child(2):hover {
    width: 70vw;
    z-index: 1;
  }
}

.button {
  position: relative;
  z-index: 10;
  color: white;
  width: 100%;
  text-align: center;
}

@media screen and (max-width: 650px) {
  .button {
    font-size: 2rem;
  }
}

@media screen and (min-width: 651px) {
  .button {
    font-size: 3rem;
  }
}

.button:before {
  content: '';
  display: inline-block;
  position: relative;
  width: 2rem;  height: 2rem;
  background-color: #F05F4A;
  background-image: url('http://localhost:3001/images/arrow.svg');
  background-size: 50%;
  background-repeat: no-repeat;
  background-position: center;
  border-radius: 50%;
  left: -1rem;
  transition: transform ease .2s;
}

.button:hover:before {
  transform: translateX(.25rem);
}

.container:hover .button:before {
  transform: translateX(.5rem);
}
