/**
 * <Part /> component style
 */

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  position: relative;
  height: 100vh;
  background-color: grey;
  background-size: 200% auto;
  background-position: center;
  cursor: pointer;
  -webkit-font-smoothing: antialiased;
  transition: ease background-size .2s, ease opacity .3s;
}

.container:hover {
  background-size: 300% auto;
}

@media screen and (min-width: 651px) {
  .container {
    width: 50vw;
  }
}

.button {
  position: relative;
  z-index: 10;
  color: white;
  width: 100%;
  text-align: center;
}

@media screen and (max-width: 650px) {
  .button {
    font-size: 2rem;
  }
}

@media screen and (min-width: 651px) {
  .button {
    font-size: 3rem;
  }
}

.button:before {
  content: '';
  display: inline-block;
  position: relative;
  width: 2rem;  height: 2rem;
  background-color: #F05F4A;
  background-image: url('http://localhost:3001/images/arrow.svg');
  background-size: 50%;
  background-repeat: no-repeat;
  background-position: center;
  border-radius: 50%;
  left: -1rem;
  transition: transform ease .2s;
}

.button:hover:before {
  transform: translateX(.25rem);
}

.container:hover .button:before {
  transform: translateX(.5rem);
}
