/**
 * <Nav /> component style
 */

.container {
  float: right;
}

.text {
  position: relative;
  top: .05rem;
  margin-left: 1.5rem;
  font-size: 1.25rem;
  letter-spacing: .075em;
  color: rgba(0, 0, 0, .25);
  cursor: pointer;
  text-decoration: none;
}

.text:hover, .activeText {
  color: rgba(0, 0, 0, 1);
}

@media screen and (max-width: 550px) {
  .text {
    margin-left: .5rem;
    letter-spacing: .1em;
  }
}
