/**
 * <Tweets /> component  style
 */

.container {
  position: relative;
  left: -1rem;
  min-height: 141px;
  display: flex;  
}

.item {
  display: inline-block;
  position: relative;
  box-sizing: border-box;
  vertical-align: top;
  border: 1px solid white;
  padding: 1.75rem 2.25rem 1.66rem 1.75rem;
  font-family: 'Chalet-Regular';
  font-size: .9rem;
  color: #4C58A3;
  border-radius: 1rem;
  line-height: 1.5em;
  background: white;
  letter-spacing: .01em;
}

.icon {
  position: absolute;
  right: 1rem;
  top: 50%;
  transform: translateY(-50%);
}

@media screen and (max-width: 1200px) {
  .item {
    padding: 1.5rem 2.5rem 1.5rem 1.5rem;
    font-size: .75rem;
  }
}

@media screen and (max-width: 800px) {
  .container {
    flex-direction: column;
  }

  .item {
    display: block;
    margin-bottom: .5rem;
    margin-left: auto;
    margin-right: auto;
    max-width: 60%;
  }
}

@media screen and (min-width: 801px) {
  .container {
    flex-direction: row;
    justify-content: space-between;
  }

  .item {
    display: block;
    width: 47%;
  }
}