/**
 * <Text /> component style
 */

.container {
  margin: auto;
  max-width: 50rem;
  padding: 4rem 0 2rem;
  font-family: 'Chalet-Regular';
  color: white;
  font-style: .9rem;
  line-height: 1.66em;
  opacity: .9;
}
