/**
 * <Text /> component style
 */

.container {
  margin: auto;
  max-width: 60rem;
  width: 100%;
  padding: 4rem 0 2rem;
  font-family: 'Chalet-Regular';
  color: white;
  font-style: .9rem;
  line-height: 1.66em;
  opacity: .9;
}

@media screen and (max-width: 1300px) {
  .container {
    font-size: .8rem;
  }
}
