/**
 * <WordScene /> component style
 */

.container {
  top: 0; left: 0;
  height: calc(100vh - 3.5rem);
  padding: .33rem 0 0 .33rem;
  overflow: hidden;
}

@media screen and (max-width: 750px) {
  .container {
    position: relative;
    width: 100%;
    overflow: initial;
  }
}

@media screen and (min-width: 751px) {
  .container {
    position: absolute;
    width: 100%;
  }
}
