/**
 * <SelectScene /> component style
 */

.container {
  position: absolute;
  top: 0; left: 0;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  display: flex;
  background-color: black;
}

@media screen and (max-width: 650px) {
  .container {
    flex-direction: column;
  }
}

@media screen and (min-width: 651px) {
  .container {
    flex-direction: row;
  }
}

.overlay {
  position: absolute;
  top: 0; bottom: 0;
  left: 0; right: 0;
  background-color: rgba(0, 0, 0, .33);
  pointer-events: none;
}
